.question-index {
    
    &__link {
        cursor: pointer;

        &--answered {
            text-decoration: underline;
        }

        &:hover {
            background-color: #ddd;
        }

        &--correct {
            color: green;
        }

        &--wrong {
            color: red;
        }
    }
}
