.question-details {
    &__options {
        label {
            width: 100%;
            display: inline-block;
            cursor: pointer;
        }
        input[type=radio] {
            margin-right: 10px;
        }

        .correct-answer {
            color: green;
        }

        .wrong-answer {
            color: red;
        }
    }
}
